/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.icon {
    height: 40px;
    margin-right: 15px;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
